<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <button id="loginBtn">로그인</button>
</body>
<script>
    function addEventListenerToButton() {
        var loginBtn = document.getElementById("loginBtn");
        loginBtn.onclick = function () {
            window.location.href = 'https://kauth.kakao.com/oauth/authorize?' + 'client_id=d5a95edff390d6eab8198f8ecd0cbad2&' + 'redirect_uri=http://localhost:8080/oauth&' + 'response_type=code';
        }
    }

    addEventListenerToButton();
</script>
</html>